@import '@styles/variables';

.header-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 40;
  transition: all 0.3s ease;
  &.stickyHeader {
    backdrop-filter: blur(10px);
    background-color: $light-pink-bg-color;
    box-shadow: $accent-box-shadow;
  }
}
