:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  height: 100dvh;
  width: 100dvw;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.page-container {
  overflow: auto;
  padding: 1rem 24px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.welcome-wrapper {
  padding: 25px 0px;
  height: 200vh;
}
