:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  height: 100dvh;
  width: 100dvw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex: 1;
  overflow: auto;
  padding: 1rem;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
