@import '@styles/variables';

.header {
  box-shadow: $box-shadow;
}

.header-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  transition: all 0.5s ease;

  &.stickyHeader {
    backdrop-filter: blur(10px);
    background-color: $light-pink-bg-color;
    box-shadow: $accent-box-shadow;
  }
}
