@import '@styles/variables';

.header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $accent-color;
  box-shadow: $box-shadow;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
