@import 'variables';

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  display: block;
  width: 150px;
  height: 50px;
  padding: 5px 10px;
  background-color: $light-grey-bg-color;
  border-radius: 5px;
  color: $main-color;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s ease;
}

@media (hover: hover) {
  .button:hover {
    background-color: $accent-color-hover;
    color: $light-color;
    box-shadow: 0 0 5px 3px rgb(253 252 252 / 20%);
  }
}
