$main-color: #0c0c0c;
$light-color: #ffffff;
$accent-color: #e10098;
$accent-color-hover: #391338;
$light-grey-bg-color: #e5eaeba4;
$light-pink-bg-color: #d399db31;
$text-shadow: rgba(243, 243, 243, 0.9) 0px 0px 2px;
$box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 90%);
$accent-box-shadow: 0px 0px 10px 3px rgba(56, 43, 56, 0.5);
