.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
