.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-top: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
}

.footerContainer {
  min-height: 40px;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
