@import '@/styles/variables';

.not-found-page {
  position: relative;
  z-index: 5;
  height: 100%;
  max-height: 83vh;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-page-text {
  font-size: 7vw;
  line-height: 8vw;
  font-weight: 900;
  margin: 0 auto 20px;
}

.home-button {
  width: 170px;
  height: 60px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  z-index: 1;
  border: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0);
}

.error-message {
  position: relative;
  z-index: 5;
  justify-content: center;
  margin: auto;
  color: $main-color;
  text-align: center;
  line-height: 55px;
  font-size: 40px;
  font-weight: 900;
  text-shadow: rgba(247, 17, 5, 0.9) 2px 2px 3px;
}

.error-img-wrap {
  margin: 10px auto;
  max-width: 350px;
}

.error-img-wrap img {
  max-width: 100%;
  border-radius: 50px;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}

.home-button:before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  animation: animate 8s linear infinite;
  transition: all 1s;
}

@media (hover: hover) {
  .home-button:hover:before {
    background: linear-gradient(90deg, #083448, #740544, #908205, #064f71);
  }
}

@media (max-width: 600px) {
  .not-found-page-text {
    font-weight: 900;
    margin-bottom: 0;
  }

  .error-img-wrap {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .not-found-page-text {
    font-size: 10vw;
    line-height: 40px;
    font-weight: 900;
    margin-bottom: 0;
  }
}
